In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-3.0.0-cp313-cp313-macosx_11_0_arm64.whl.metadata (79 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.4.2-cp313-cp313-macosx_14_0_arm64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-3.0.0-cp313-cp313-macosx_11_0_arm64.whl (9.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 11.9 MB/s  0:00:00 eta 0:00:01
Downloading numpy-2.4.2-cp313-cp313-macosx_14_0_arm64.whl (5.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.2/5.2 MB 16.7 MB/s  0:00:00 eta 0:00:01
Installing collected packages: numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [pandas]2m1/2 [pandas]
Successfully installed numpy-2.4.2 pandas-3.0.0

In [5]:
!pip install seaborn
!pip install numpy
!pip install matplotlib
!pip install missingno

Requirement already satisfied: seaborn in ./.venv/lib/python3.13/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in ./.venv/lib/python3.13/site-packages (from seaborn) (2.4.2)
Requirement already satisfied: pandas>=1.2 in ./.venv/lib/python3.13/site-packages (from seaborn) (3.0.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in ./.venv/lib/python3.13/site-packages (from seaborn) (3.10.8)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (26.0)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (12.1.0)
Requirement already satisfied: pyparsing>=3 in ./.venv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in ./.venv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Requirement already satisfied: numpy in ./.venv/lib/python3.13/site-packages (2.4.2)
Requirement already satisfied: matplotlib in ./.venv/lib/python3.13/site-packages (3.10.8)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.13/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.13/site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.13/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in ./.venv/lib/python3.13/site-packages (from matplotlib) (2.4.2)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.13/site-packages (from matplotlib) (26.0)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.13/site-packages (from matplotlib) (12.1.0)
Requirement already satisfied: pyparsing>=3 in ./.venv/lib/python3.13/site-packages (from matplotlib) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in ./.venv/lib/python3.13/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Collecting missingno
  Downloading missingno-0.5.2-py3-none-any.whl.metadata (639 bytes)
Requirement already satisfied: numpy in ./.venv/lib/python3.13/site-packages (from missingno) (2.4.2)
Requirement already satisfied: matplotlib in ./.venv/lib/python3.13/site-packages (from missingno) (3.10.8)
Collecting scipy (from missingno)
  Downloading scipy-1.17.0-cp313-cp313-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: seaborn in ./.venv/lib/python3.13/site-packages (from missingno) (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.13/site-packages (from matplotlib->missingno) (1.3.3)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.13/site-packages (from matplotlib->missingno) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.13/site-packages (from matplotlib->missingno) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.13/site-packages (from matplotlib->missingno) (1.4.9)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.13/site-packages (from matplotlib->missingno) (26.0)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.13/site-packages (from matplotlib->missingno) (12.1.0)
Requirement already satisfied: pyparsing>=3 in ./.venv/lib/python3.13/site-packages (from matplotlib->missingno) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in ./.venv/lib/python3.13/site-packages (from matplotlib->missingno) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.17.0)
Requirement already satisfied: pandas>=1.2 in ./.venv/lib/python3.13/site-packages (from seaborn->missingno) (3.0.0)
Downloading missingno-0.5.2-py3-none-any.whl (8.7 kB)
Downloading scipy-1.17.0-cp313-cp313-macosx_14_0_arm64.whl (20.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.1/20.1 MB 34.8 MB/s  0:00:00 eta 0:00:01
Installing collected packages: scipy, missingno
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [missingno]
Successfully installed missingno-0.5.2 scipy-1.17.0

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import missingno as msno

In [21]:
diabetes_df = pd.read_csv('diabetic_data.csv')

In [22]:
diabetes_df.head(20)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),?,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),?,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),?,1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Caucasian,Female,[80-90),?,2,1,4,13,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),?,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
10,28236,89869032,AfricanAmerican,Female,[40-50),?,1,1,7,9,...,No,Steady,No,No,No,No,No,No,Yes,>30
11,36900,77391171,AfricanAmerican,Male,[60-70),?,2,1,4,7,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
12,40926,85504905,Caucasian,Female,[40-50),?,1,3,7,7,...,No,Down,No,No,No,No,No,Ch,Yes,<30
13,42570,77586282,Caucasian,Male,[80-90),?,1,6,7,10,...,No,Steady,No,No,No,No,No,No,Yes,NO
14,62256,49726791,AfricanAmerican,Female,[60-70),?,3,1,2,1,...,No,Steady,No,No,No,No,No,No,Yes,>30
15,73578,86328819,AfricanAmerican,Male,[60-70),?,1,3,7,12,...,No,Up,No,No,No,No,No,Ch,Yes,NO
16,77076,92519352,AfricanAmerican,Male,[50-60),?,1,1,7,4,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
17,84222,108662661,Caucasian,Female,[50-60),?,1,1,7,3,...,No,No,No,No,No,No,No,No,Yes,NO
18,89682,107389323,AfricanAmerican,Male,[70-80),?,1,1,7,5,...,No,Steady,No,No,No,No,No,No,Yes,>30
19,148530,69422211,?,Male,[70-80),?,3,6,2,6,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [23]:
diabetes_df.tail(20)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
101746,443797298,89955270,Caucasian,Male,[70-80),?,1,1,7,4,...,No,No,No,No,No,No,No,No,Yes,<30
101747,443804570,33230016,Caucasian,Female,[70-80),?,1,22,7,8,...,No,Steady,No,No,No,No,No,No,Yes,>30
101748,443811536,189481478,Caucasian,Female,[40-50),?,1,4,7,14,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101749,443816024,106392411,Caucasian,Female,[70-80),?,3,6,1,3,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
101750,443824292,138784172,Caucasian,Female,[80-90),?,3,1,1,3,...,No,Down,No,No,No,No,No,Ch,Yes,<30
101751,443835140,175326800,Caucasian,Male,[70-80),?,3,6,1,13,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101752,443835512,139605341,Other,Female,[40-50),?,3,1,1,3,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
101753,443841992,184875899,Other,Male,[40-50),?,1,1,7,13,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101754,443842016,183087545,Caucasian,Female,[70-80),?,1,1,7,9,...,No,Steady,No,No,No,No,No,Ch,Yes,>30
101755,443842022,188574944,Other,Female,[40-50),?,1,1,7,14,...,No,Up,No,No,No,No,No,Ch,Yes,>30
101756,443842070,140199494,Other,Female,[60-70),?,1,1,7,2,...,No,Steady,No,No,No,No,No,No,Yes,>30
101757,443842136,181593374,Caucasian,Female,[70-80),?,1,1,7,5,...,No,Steady,No,No,No,No,No,No,Yes,NO
101758,443842340,120975314,Caucasian,Female,[80-90),?,1,1,7,5,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101759,443842778,86472243,Caucasian,Male,[80-90),?,1,1,7,1,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101760,443847176,50375628,AfricanAmerican,Female,[60-70),?,1,1,7,6,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101761,443847548,100162476,AfricanAmerican,Male,[70-80),?,1,3,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),?,1,4,5,5,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),?,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),?,2,3,7,10,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,...,No,No,No,No,No,No,No,No,No,NO

In [34]:
diabetes_df.sample(n=10)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
100843,431453066,152946995,Other,Male,[60-70),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
45774,141378948,41768172,Caucasian,Male,[40-50),?,3,1,1,1,...,No,No,No,No,No,No,No,Ch,Yes,>30
29786,96983280,24260580,AfricanAmerican,Male,[70-80),?,1,3,5,7,...,No,No,No,No,No,No,No,No,No,NO
22436,77318646,1798641,Caucasian,Male,[60-70),?,1,1,7,1,...,No,No,No,No,No,No,No,No,Yes,NO
72129,210546876,92227734,?,Male,[60-70),?,1,6,7,4,...,No,Steady,No,No,No,No,No,Ch,Yes,>30
32355,103186848,18520542,?,Male,[50-60),?,1,1,6,1,...,No,No,No,No,No,No,No,Ch,Yes,NO
64272,178886646,102158460,Caucasian,Male,[80-90),?,1,11,7,9,...,No,No,No,No,No,No,No,No,No,NO
23931,81466758,1098216,Caucasian,Male,[50-60),?,3,6,1,4,...,No,Up,No,No,No,No,No,Ch,Yes,NO
12858,51864162,61952292,Caucasian,Male,[70-80),?,1,11,7,1,...,No,Steady,No,No,No,No,No,No,Yes,NO
95592,363750206,32505381,Caucasian,Female,[70-80),?,1,1,7,5,...,No,Steady,No,No,No,No,No,Ch,Yes,<30

In [55]:
diabetes_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  str
 3   gender                    101766 non-null  str
 4   age                       101766 non-null  str
 5   weight                    101766 non-null  str
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  str
 11  medical_specialty         101766 non-null  str
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  str
 19  diag_2                    101766 non-null  str
 20  diag_3                    101766 non-null  str
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    str
 23  A1Cresult                 17018 non-null   str
 24  metformin                 101766 non-null  str
 25  repaglinide               101766 non-null  str
 26  nateglinide               101766 non-null  str
 27  chlorpropamide            101766 non-null  str
 28  glimepiride               101766 non-null  str
 29  acetohexamide             101766 non-null  str
 30  glipizide                 101766 non-null  str
 31  glyburide                 101766 non-null  str
 32  tolbutamide               101766 non-null  str
 33  pioglitazone              101766 non-null  str
 34  rosiglitazone             101766 non-null  str
 35  acarbose                  101766 non-null  str
 36  miglitol                  101766 non-null  str
 37  troglitazone              101766 non-null  str
 38  tolazamide                101766 non-null  str
 39  examide                   101766 non-null  str
 40  citoglipton               101766 non-null  str
 41  insulin                   101766 non-null  str
 42  glyburide-metformin       101766 non-null  str
 43  glipizide-metformin       101766 non-null  str
 44  glimepiride-pioglitazone  101766 non-null  str
 45  metformin-rosiglitazone   101766 non-null  str
 46  metformin-pioglitazone    101766 non-null  str
 47  change                    101766 non-null  str
 48  diabetesMed               101766 non-null  str
 49  readmitted                101766 non-null  str
dtypes: int64(13), str(37)
memory usage: 38.8 MB

In [56]:
def missing (diabetes_df):
    missing_number = diabetes_df.isnull().sum().sort_values(ascending=False)
    missing_percent = (diabetes_df.isnull().sum()/len(diabetes_df)*100).sort_values(ascending=False)
    missing_values = pd.concat([missing_number, missing_percent], axis=1, keys=['Missing Number', 'Missing Percent'])
    return missing_values

missing(diabetes_df)

                          Missing Number  Missing Percent
max_glu_serum                      96420        94.746772
A1Cresult                          84748        83.277322
encounter_id                           0         0.000000
nateglinide                            0         0.000000
glimepiride                            0         0.000000
acetohexamide                          0         0.000000
glipizide                              0         0.000000
glyburide                              0         0.000000
tolbutamide                            0         0.000000
pioglitazone                           0         0.000000
rosiglitazone                          0         0.000000
acarbose                               0         0.000000
miglitol                               0         0.000000
troglitazone                           0         0.000000
tolazamide                             0         0.000000
examide                                0         0.000000
citoglipton                            0         0.000000
insulin                                0         0.000000
glyburide-metformin                    0         0.000000
glipizide-metformin                    0         0.000000
glimepiride-pioglitazone               0         0.000000
metformin-rosiglitazone                0         0.000000
metformin-pioglitazone                 0         0.000000
change                                 0         0.000000
diabetesMed                            0         0.000000
chlorpropamide                         0         0.000000
repaglinide                            0         0.000000
patient_nbr                            0         0.000000
medical_specialty                      0         0.000000
race                                   0         0.000000
gender                                 0         0.000000
age                                    0         0.000000
weight                                 0         0.000000
admission_type_id                      0         0.000000
discharge_disposition_id               0         0.000000
admission_source_id                    0         0.000000
time_in_hospital                       0         0.000000
payer_code                             0         0.000000
num_lab_procedures                     0         0.000000
metformin                              0         0.000000
num_procedures                         0         0.000000
num_medications                        0         0.000000
number_outpatient                      0         0.000000
number_emergency                       0         0.000000
number_inpatient                       0         0.000000
diag_1                                 0         0.000000
diag_2                                 0         0.000000
diag_3                                 0         0.000000
number_diagnoses                       0         0.000000
readmitted                             0         0.000000

In [57]:
diabetes_df[['max_glu_serum', 'A1Cresult']]

       max_glu_serum A1Cresult
0                NaN       NaN
1                NaN       NaN
2                NaN       NaN
3                NaN       NaN
4                NaN       NaN
...              ...       ...
101761           NaN        >8
101762           NaN       NaN
101763           NaN       NaN
101764           NaN       NaN
101765           NaN       NaN

[101766 rows x 2 columns]

In [58]:
def missing (diabetes_df):
    missing_number = diabetes_df.isin(['?']).sum().sort_values(ascending=False)
    missing_percent = (diabetes_df.isin(['?']).sum()/len(diabetes_df)*100).sort_values(ascending=False)
    missing_values = pd.concat([missing_number, missing_percent], axis=1, keys=['Missing Number', 'Missing Percent'])
    return missing_values

missing(diabetes_df)

                          Missing Number  Missing Percent
weight                             98569        96.858479
medical_specialty                  49949        49.082208
payer_code                         40256        39.557416
race                                2273         2.233555
diag_3                              1423         1.398306
diag_2                               358         0.351787
diag_1                                21         0.020636
encounter_id                           0         0.000000
tolazamide                             0         0.000000
glyburide                              0         0.000000
tolbutamide                            0         0.000000
pioglitazone                           0         0.000000
rosiglitazone                          0         0.000000
acarbose                               0         0.000000
miglitol                               0         0.000000
troglitazone                           0         0.000000
citoglipton                            0         0.000000
examide                                0         0.000000
acetohexamide                          0         0.000000
insulin                                0         0.000000
glyburide-metformin                    0         0.000000
glipizide-metformin                    0         0.000000
glimepiride-pioglitazone               0         0.000000
metformin-rosiglitazone                0         0.000000
metformin-pioglitazone                 0         0.000000
change                                 0         0.000000
diabetesMed                            0         0.000000
glipizide                              0         0.000000
repaglinide                            0         0.000000
glimepiride                            0         0.000000
num_medications                        0         0.000000
gender                                 0         0.000000
age                                    0         0.000000
admission_type_id                      0         0.000000
discharge_disposition_id               0         0.000000
admission_source_id                    0         0.000000
time_in_hospital                       0         0.000000
num_lab_procedures                     0         0.000000
num_procedures                         0         0.000000
number_outpatient                      0         0.000000
chlorpropamide                         0         0.000000
number_emergency                       0         0.000000
number_inpatient                       0         0.000000
number_diagnoses                       0         0.000000
max_glu_serum                          0         0.000000
A1Cresult                              0         0.000000
metformin                              0         0.000000
patient_nbr                            0         0.000000
nateglinide                            0         0.000000
readmitted                             0         0.000000

In [60]:
diabetes_df[['weight', 'medical_specialty', 'payer_code', 'race', 'diag_1', 'diag_2', 'diag_3']]

,weight,medical_specialty,payer_code,race,diag_1,diag_2,diag_3
0,?,Pediatrics-Endocrinology,?,Caucasian,250.83,?,?
1,?,?,?,Caucasian,276,250.01,255
2,?,?,?,AfricanAmerican,648,250,V27
3,?,?,?,Caucasian,8,250.43,403
4,?,?,?,Caucasian,197,157,250
...,...,...,...,...,...,...,...
101761,?,?,MC,AfricanAmerican,250.13,291,458
101762,?,?,MC,AfricanAmerican,560,276,787
101763,?,?,MC,Caucasian,38,590,296
101764,?,Surgery-General,MC,Caucasian,996,285,998
101765,?,?,?,Caucasian,530,530,787

In [61]:
diabetes_df_replaced = diabetes_df.replace('?', np.nan)

diabetes_df_replaced.head(20)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),NaN,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),NaN,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),NaN,1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Caucasian,Female,[80-90),NaN,2,1,4,13,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),NaN,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
10,28236,89869032,AfricanAmerican,Female,[40-50),NaN,1,1,7,9,...,No,Steady,No,No,No,No,No,No,Yes,>30
11,36900,77391171,AfricanAmerican,Male,[60-70),NaN,2,1,4,7,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
12,40926,85504905,Caucasian,Female,[40-50),NaN,1,3,7,7,...,No,Down,No,No,No,No,No,Ch,Yes,<30
13,42570,77586282,Caucasian,Male,[80-90),NaN,1,6,7,10,...,No,Steady,No,No,No,No,No,No,Yes,NO
14,62256,49726791,AfricanAmerican,Female,[60-70),NaN,3,1,2,1,...,No,Steady,No,No,No,No,No,No,Yes,>30
15,73578,86328819,AfricanAmerican,Male,[60-70),NaN,1,3,7,12,...,No,Up,No,No,No,No,No,Ch,Yes,NO
16,77076,92519352,AfricanAmerican,Male,[50-60),NaN,1,1,7,4,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
17,84222,108662661,Caucasian,Female,[50-60),NaN,1,1,7,3,...,No,No,No,No,No,No,No,No,Yes,NO
18,89682,107389323,AfricanAmerican,Male,[70-80),NaN,1,1,7,5,...,No,Steady,No,No,No,No,No,No,Yes,>30
19,148530,69422211,NaN,Male,[70-80),NaN,3,6,2,6,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [62]:
diabetes_df_replaced.duplicated().sum()

np.int64(0)

In [63]:
def missing (diabetes_df_replaced):
    missing_number = diabetes_df_replaced.isnull().sum().sort_values(ascending=False)
    missing_percent = (diabetes_df_replaced.isnull().sum()/len(diabetes_df_replaced)*100).sort_values(ascending=False)
    missing_values = pd.concat([missing_number, missing_percent], axis=1, keys=['Missing Number', 'Missing Percent'])
    return missing_values

missing(diabetes_df_replaced)

                          Missing Number  Missing Percent
weight                             98569        96.858479
max_glu_serum                      96420        94.746772
A1Cresult                          84748        83.277322
medical_specialty                  49949        49.082208
payer_code                         40256        39.557416
race                                2273         2.233555
diag_3                              1423         1.398306
diag_2                               358         0.351787
diag_1                                21         0.020636
encounter_id                           0         0.000000
troglitazone                           0         0.000000
tolbutamide                            0         0.000000
pioglitazone                           0         0.000000
rosiglitazone                          0         0.000000
acarbose                               0         0.000000
miglitol                               0         0.000000
citoglipton                            0         0.000000
tolazamide                             0         0.000000
examide                                0         0.000000
glipizide                              0         0.000000
insulin                                0         0.000000
glyburide-metformin                    0         0.000000
glipizide-metformin                    0         0.000000
glimepiride-pioglitazone               0         0.000000
metformin-rosiglitazone                0         0.000000
metformin-pioglitazone                 0         0.000000
change                                 0         0.000000
diabetesMed                            0         0.000000
glyburide                              0         0.000000
repaglinide                            0         0.000000
acetohexamide                          0         0.000000
glimepiride                            0         0.000000
gender                                 0         0.000000
age                                    0         0.000000
admission_type_id                      0         0.000000
discharge_disposition_id               0         0.000000
admission_source_id                    0         0.000000
time_in_hospital                       0         0.000000
num_lab_procedures                     0         0.000000
num_procedures                         0         0.000000
num_medications                        0         0.000000
number_outpatient                      0         0.000000
number_emergency                       0         0.000000
number_inpatient                       0         0.000000
number_diagnoses                       0         0.000000
metformin                              0         0.000000
patient_nbr                            0         0.000000
nateglinide                            0         0.000000
chlorpropamide                         0         0.000000
readmitted                             0         0.000000

In [64]:
print(diabetes_df_replaced.columns)

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='str')

In [65]:
columns_to_drop = ['weight', 'max_glu_serum', 'A1Cresult']
diabetes_df_replaced.drop(columns=columns_to_drop, inplace=True)

In [66]:
diabetes_df_replaced.head(20)

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,NaN,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),2,1,2,3,NaN,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),3,1,2,4,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),1,1,7,5,NaN,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Caucasian,Female,[80-90),2,1,4,13,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),3,3,4,12,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
10,28236,89869032,AfricanAmerican,Female,[40-50),1,1,7,9,NaN,...,No,Steady,No,No,No,No,No,No,Yes,>30
11,36900,77391171,AfricanAmerican,Male,[60-70),2,1,4,7,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
12,40926,85504905,Caucasian,Female,[40-50),1,3,7,7,NaN,...,No,Down,No,No,No,No,No,Ch,Yes,<30
13,42570,77586282,Caucasian,Male,[80-90),1,6,7,10,NaN,...,No,Steady,No,No,No,No,No,No,Yes,NO
14,62256,49726791,AfricanAmerican,Female,[60-70),3,1,2,1,NaN,...,No,Steady,No,No,No,No,No,No,Yes,>30
15,73578,86328819,AfricanAmerican,Male,[60-70),1,3,7,12,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,NO
16,77076,92519352,AfricanAmerican,Male,[50-60),1,1,7,4,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
17,84222,108662661,Caucasian,Female,[50-60),1,1,7,3,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
18,89682,107389323,AfricanAmerican,Male,[70-80),1,1,7,5,NaN,...,No,Steady,No,No,No,No,No,No,Yes,>30
19,148530,69422211,NaN,Male,[70-80),3,6,2,6,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO